:root {
	--border: hsl(217, 16%, 45%);
	--darkText: hsl(229, 25%, 31%);
	--borderRadius: 8px;
}
/* https://www.joshwcomeau.com/css/custom-css-reset */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	/* background-color: var(--backgroundColor); */
	background: linear-gradient(180deg, rgb(31, 55, 86), hsl(237, 49%, 15%));
	/* background-color: red; */
	width: 100%;
	height: 100dvh;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
ol,
ul {
	list-style: none;
}
/*https://www.youtube.com/@slayingthedragon
// * xs */
@media (min-width: 475px) {
}
/* sm */
@media (min-width: 640px) {
}
/* md */
@media (min-width: 768px) {
}
/* lg */
@media (min-width: 1024px) {
}
/* xl */
@media (min-width: 1280px) {
}
/* 2xl */
@media (min-width: 1536px) {
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
// App 
// XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* Header */
header {
	align-items: center;
	border: 1.5px solid var(--border);
	border-radius: var(--borderRadius);
	color: #fff;
	display: flex;
	justify-content: space-between;
	margin: 1rem auto;
	padding: 12px;
	width: calc(100% - 10%);
}
header h1 span {
	display: block;
	font-size: 22px;
	line-height: 0.85;
}
header div {
	background-color: #fff;
	border-radius: var(--borderRadius);
	color: var(--darkText);
	padding: 1rem;
	text-align: center;
}
header div p {
	font-weight: bold;
	font-size: 1.2rem;
}
/* Container */
.container {
	display: flex;
	justify-content: center;
	padding: 2rem 0;
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
// Rock-Paper-Scissors Element
// XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
.pick {
	position: relative;
	margin: 5rem auto 0;
}
.scissors {
	background: linear-gradient(90deg, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
	top: 0;
	right: 0;
	transform: translate(25%, -40%);
}
.paper {
	background: linear-gradient(90deg, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
	top: 0;
	left: 0;
	transform: translate(-25%, -40%);
}
.rock {
	background: linear-gradient(90deg, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
	bottom: 0;
	left: 50;
	transform: translate(100%, 0);
}
.choose {
	align-items: center;
	border-radius: 100%;
	cursor: pointer;
	display: flex;
	height: 100px;
	justify-content: center;
	position: absolute;
	transition: all 0.3s linear;
	width: 100px;
}
.inside {
	background-color: #fff;
	border-radius: 100%;
	padding: 1rem;
	width: max-content;
	height: max-content;
	display: flex;
	justify-content: center;
	align-items: center;
}
.inside img {
	width: 38px;
	height: 38px;
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
// Rules element
// XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
.btn {
	background-color: transparent;
	border: 1px solid var(--border);
	border-radius: var(--borderRadius);
	color: #fff;
	padding: 1rem 1.5rem;
	position: absolute;
	bottom: 5%;
	right: 5%;
}
.btn:hover {
	border-color: hsl(349, 71%, 52%);
	color: hsl(349, 70%, 56%);
	cursor: pointer;
}
.popupBg {
	background-color: rgba(33, 33, 33, 0.5);
	display: none;
	height: 100dvh;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 5;
}
.popupBg.active {
	display: block;
}
.rules {
	background-color: #fff;
	border-radius: var(--borderRadius);
	left: 50%;
	padding: 16px 20px;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: calc(100% - 10%);
	max-width: 450px;
	z-index: 10;
}
.rulesHeader {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
	font-size: 1.6rem;
}
.rulesText {
	color: var(--darkText);
	font-size: 2rem;
}
.close {
	background-color: transparent;
	border: none;
	color: var(--border);
	cursor: pointer;
}
.rules img {
	margin: 0 auto;
}
/* Responsive */
@media (min-width: 768px) {
	header {
		width: 690px;
	}
	header h1 span {
		font-size: 28px;
	}
	.choose {
		height: 150px;
		width: 150px;
	}
	.inside {
		padding: 2rem;
	}
	.inside img {
		height: 45px;
		width: 45px;
	}
	.rock {
		transform: translateX(50%);
	}
}
